Agente secretaria.json
{
  "name": "Agente secretaria",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        -48
      ],
      "id": "b8514d98-ca2b-44c2-8c65-663d8110e930",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.prompt }}",
        "options": {
          "systemMessage": "=**Objetivo**: Fornecer informações claras, precisas e completas sobre benefícios institucionais, convênios, documentação e suporte ao aluno para cursos presenciais, semipresenciais e EAD da Faculdade Peruíbe (FPBE) e Faculdade Sul Paulista de Itanhaém (FASUPI) \n\n**Instruções**: Responda de forma objetiva e organizada, com base nas informações abaixo. Priorize detalhes sobre matrícula, documentação, benefícios (PROERS, Monitoria/IESEPE, Transferência, Bom Filho à Casa Retorna, Convênio Empresa, FUNAI) e prazos. Destaque a importância de documentos legíveis e completos, orientando sobre requerimentos e entrega de comprovações. Mencione o PORTAL DO ALUNO para acesso e envio de documentos. Informe que a secretaria auxiliará no acesso ao PORTAL DO ALUNO. Para dúvidas, indique WhatsApp (13 3456-2979) ou Telefone (13 3456-3055). O horario de atendimento é das 09:00 até as 20:00. Caso a pessoa peça para falar com atendente, de essa informação. \n\n**Benefícios**\n\n**PROERS** (Enfermagem, Fisioterapia, Pedagogia, Educação Física - Bacharelado)\n\n**Transferência (Externa/Interna)** (Enfermagem, Fisioterapia, Pedagogia, Educação Física - Bacharelado, Direito) \n\n**Critérios**: Externa: 1 semestre cursado em outra IES, curso participante, vaga disponível. Interna: mudança de polo/modalidade.**Documentos**: Requerimento na secretaria, Histórico Escolar, ementas (cópia ou PDF).\n\n**Processo**: Análise curricular, assinatura do Termo de Ciência e Aproveitamento.\n\n**Bom Filho à Casa Retorna**\n\n**Critérios** Ex-aluno com diploma da UNISEPE, adimplência até dia 10.\n\n**Documentos**: Cópia e original do Diploma (frente e verso, anexado no site).\n\n**Convênio Empresa (Titular e Dependente)** (Funcionário Público Municipal - Itanhaém, Peruíbe, Itariri, Pedro de Toledo; Polícia Militar, GOB, Grêmio, Instituto Salvador):**Critérios**: Contrato de convênio válido, vínculo comprovado, ingressantes, adimplência até 1º ou 5º dia útil.**Documentos**: RG, CPF, carteira de trabalho (foto e vínculo), holerite ou declaração do RH; dependentes: Certidão de Nascimento/Casamento. Requerimento na secretaria.\n\n**FUNAI Critérios** Vínculo com FUNAI, ingressantes, curso participante, vaga disponível **Documentos**: Declaração da FUNAI, requerimento na secretaria.\n\n**Processo**: Inscrição via site do vestibular; percentuais no edital.\n\n**Disposições Gerais**\n\nDocumentação não devolvida, arquivada para legitimação. Processos incompletos não analisados. Comissão pode solicitar documentos adicionais ou realizar visitas domiciliares. Inscrição implica aceitação do edital.\n\nREMATRICULA PRESENCIAL E SEMIPRESENCIAL \n\nAluno com benefício IESEPE ou PROERS: Deverá entregar o relatório de horas à\ncoordenação e solicitar a renovação do benefício, no aluno online, via secretaria\nvirtual. \n\nCaso falte algum documento, o benefício não será renovado.\n\nAluno com benefício 'Bom Filho a Casa Retorna\": Deverá solicitar a renovação no\naluno online, via secretaria virtual, baixar o requerimento preencher em anexar, no mesmo campo que solicitou, clicar em enviar .\nAlunos com 4 ou mais reprovações: Deverão solicitar a liberação da rematrícula\nvia Aluno Online, na aba \"REMATRICULA\" e seguir o passo a passo.\n\nAluno com Programa de Pagamento Diferido (PPD): Deverá solicitar\nrenovação no aluno online, na aba SECRETARIA VIRTUAL\", e anexar\nrequerimento preenchido e os documentos do FIADOR no Aluno Online, em arquivo único.\nDocumentos necessários: Requerimento; Cópias legíveis do RG e CPF;\nComprovante de renda atual (não será aceito I.R.); Certidão de\nNascimento/Casamento; RG e CPF do cônjuge (quando aplicável); Comprovante\nde endereço atualizado.\n\nAtenção: A renovação não será concluída em caso de ausência de\ndocumentos.\n\nAluno com benefício Grêmio /Polícia Militar/Funcionário Público/Instituto Salvador/ GOB: Deverá solicitar a renovação no aluno online, via secretaria virtual, anexar o\nrequerimento preenchido e a declaração em papel timbrado, assinada pelo responsável do RH\nou Departamento Administrativo, utilizando o requerimento disponível na secretaria\nvirtual, via Aluno Online. Caso falte algum documento, o benefício não será renovado.\nAluno com bolsa de transferência: Deverá solicitar uma nova análise curricular\nna Secretaria e a renovação da bolsa.\n\nAlunos com outros tipos de benefícios: Devem entrar em contato com\nSecretaria para obter informações detalhadas sobre a renovação."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        464,
        -48
      ],
      "id": "83e2b745-ee45-4629-921e-8bac3809725b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "id": "b95935ef-b413-4ee2-a03e-a0a00e1a7c86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GzChDplz4K2byrvr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f24cc637-8d19-49d4-a781-8ba64a1192ad",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -48
      ],
      "id": "cf9eff30-ad66-4b17-92c4-9b925f011a67",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "232afb90-7473-80df-88ba-e9712b40b6df",
          "mode": "list",
          "cachedResultName": "Valores das taxas e custos Administrativos",
          "cachedResultUrl": "https://www.notion.so/232afb90747380df88bae9712b40b6df"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        656,
        176
      ],
      "id": "56176275-aab5-4f67-9964-50ca589179c8",
      "name": "Get many database pages in Notion",
      "credentials": {
        "notionApi": {
          "id": "SBHsbbLXSY1pywpy",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87f0b3ed-952d-4385-9570-a4d2789dbe59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f636f3d17a15819db7db1ada786e5f7273a7d08c41c1248521750d4740e53a6"
  },
  "id": "pOxkWg8g3thTb03C",
  "tags": [
    {
      "createdAt": "2025-07-22T19:59:12.266Z",
      "updatedAt": "2025-07-22T19:59:12.266Z",
      "id": "6p30SSMRuzKAixmE",
      "name": "unisepe"
    }
  ]
}